.box {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.gradient {
    width: 100%;
    height: 100%;
    background: linear-gradient( 45deg, #09658a, #727400, #86325a, #350349, #420101);
    background-size: 600% 100%;
    animation: gradient 10s linear infinite;
    animation-direction: alternate;
}

@keyframes gradient {
    0% {
        background-position: 0%
    }
    100% {
        background-position: 100%
    }
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin-top: 0px;
}

@font-face {
    font-family: Raleway;
    src: url(Raleway-100.ttf);
}

.text {
    color: white;
    font-family: Raleway;
    font-size: 26px;
}

.link {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding-left: 14px;
    padding-right: 14px;
}



/* body {
    background-color: #FF5A5A;
    height: 100%;
    font-family: 'tradegothiclt-bold', sans-serif;
  } */
  
    p {
    /* font-size: 5em; */
    color: white;
    /* text-transform: uppercase; */
  }
  
  span {
    border-right: .05em solid;
    animation: caret 1s steps(1) infinite;
  }
  
  @keyframes caret {
    50% {
      border-color: transparent;
    }
  }
